*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    align-items: center; /* Centralizando os itens do header */
    width: 90%; /* Utilizando 90% de largura da extensão total da tela do navegador */
    margin: auto auto; /* Centralizando automaticamente as margens */
}

input{
    height: 30px; /* Altura do campo */
    font-size: 1rem; /* Tamanho da fonte padrão */
    width: 80%; /* Aumentar largura do campo */
    padding-left: 2%; /* Borda interna - Afastar 2% da esquerda para direita */

}

button.add{
    background: green; /* Cor do fundo do botão */
    color: white; /* Cor do conteúdo do botão */
    width: 20%; /* Extendendo largura em 20% */
    cursor: pointer; /* Mãozinha sobre o botão */
    font-weight: bold;
    border: none; /* Retirando as bordas */
    height: 30px; /* Altura do botão */
    border-top-right-radius: 10px; /* Borda lateral de cima da direita arredondada */
    border-bottom-right-radius: 10px; /* Borda lateral de baixo da direita arredondada */
}

main{    
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /*border: 1px solid blue;*/
    padding-top: 20px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 30px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 1%;
}

.item.clicado{
    background: #d4f6d9;
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: grey;
}

.item-icone{
    /*border: 1px solid orangered;*/
    flex: 20%;
    text-align: center;
    font-size: 1rem;
}

.item-nome{
    /*border: 1px solid deeppink;*/
    flex: 55%;
    font-size: 16px;
    font-weight: bold;
}

.item-botao{
    /*border: 1px solid green;*/
    flex: 25%;
}

.delete{
    background: red;
    color: white;
    border: none;    
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.mdi-check-circle{
    color: green; /* Colorindo de verde o botão de check das tarefas */
}